@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Busca de endereços</h1>
    <p class="lead">Digite um CEP para buscar o endereço correspondente.</p>
    <a asp-controller="Endereco" asp-action="Index" class="btn btn-primary btn-lg mt-3">Ir para Busca de Endereço</a>
</div>
